@CHARSET "utf-8";

#tranSearch {
    width:100%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: HelveticaNeueLTStd-Th, arial;
}

.navbar {
    font-family: HelveticaNeueLTStd-Th, arial;
    border:0;
    margin-bottom: 0;
    border-radius: 0;
    border-bottom: 1px solid #e9e9e9;
  -webkit-box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.05);
    margin-bottom: 0;
    
}

.navbar-nav {
    min-height:60px;
}

ul.navbar-nav > li >a {
    height: 60px;
    padding-top: 20px;
    font-size: 16px;
}

.current {
    color: #555555 !important;
background-color: #d5d5d5 !important;
}

.navbar-brand {
    max-width: none;
}
.sellerCont {
    padding: 5px;
}

.popover {
    min-width: 550px;
}

.btn-link:hover,
.btn-link:focus {
  text-decoration: none;
  background-color: transparent;
}
.navbar-text {
    color:#ffffff;
}

.navbar-text:hover {
    color:#E6E7E8;
    text-decoration: none;
}

.navbar {
    background-color: #ffffff;
    border-radius:0px;
    color:#717074;
}
.navbar-nav > li > a, .navbar-brand {
    background-color: transparent;
}

body {
   //font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-brand:hover,
.navbar-brand:focus{
  color: #E6E7E8;
  background-color: transparent;
}

/*
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #E7E5D3;
}*/

body {
    background-color: #f8f8f8;
}

section.hide {
    display:none;
}
pre {
    background-color: transparent;
 border: 0 !important;
 border-radius: 0;
}

#response, #request {
    border: 1px solid #cccccc !important;
}
.col-lg-10 {
    vertical-align:middle;
}

fieldset {
    padding-bottom: 10px;
}

p {
    text-indent: 0px;
}

form {
    padding-bottom:20px;
}

    
h4,h5 {
    text-align:center;
    padding-bottom:10px;
}

input[type="checkbox"] {
    margin-left:0px;
    padding-top:5px;
    margin-top:12px;
}
input[type="file"] {
    height:38px;
    vertical-align: middle;
    padding: 8px 10px;
}

button[rel="popover"] {
    text-align: left;
}

.btn {
    width:100%;
}

.label {
    min-width:260px;
}

span.glyphicon {
    padding-right:5px;
    padding-left:5px;
    padding-top: 2px;
    vertical-align:middle;
}

span.glyphicon.glyphicon-info-sign {
    padding:0;
}

.btn-group.col-lg-2 {
    padding-right:0px;
    padding-bottom:5px;
}

.btn.btn-default.dropdown-toggle {
    width:25px;
}

.btn.btn-small {
    vertical-align:middle;
    width:60px;

}

.btn.btn-primary.add {
    text-align:center;
    vertical-align:middle;
    width:95%;

}

.help-error {
    vertical-align:middle;
    color:#b94a48;
}

.control-group {
    display:inline;
}

.sidebar.affix {
    position: static;
}

#logo {
    width:107px;
    text-align:left;
    padding-right:5px;
}


/* Side nav 
-------------------------------------------------- */
/* First level of nav */
.sidenav {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top:    10px;
    padding-bottom: 10px;
    width:100%;
}


/* All levels of nav */
.sidebar .nav > li > a {
    display: block;
    
    padding: 5px 20px;
}
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #81BAEB;
    
}
.sidebar .nav > .active > a,
.sidebar .nav > .active:hover > a,
.sidebar .nav > .active:focus > a {
    color: #ffffff;
    background-color: #428bca;
}

/* Nav: second level (shown on .active) */
.sidebar .nav .nav {
    display: block;
    margin-bottom: 8px;
}
.sidebar .nav > .active > ul {
    display: block;
}
.sidebar .nav .nav > li > a {
    padding-top:    3px;
    padding-bottom: 3px;
    padding-left: 30px;
    font-size: 90%;
}

/* Responsive variations
-------------------------------------------------- */


/* Tablets and up */
@media screen and (min-width: 768px) {

    /* Show the side nav */
    .sidebar {
        display: block;
    }
    .btn.btn-primary.add {
        width:25%;
    }   
    
}

/* Tablets/desktops and up */
@media screen and (min-width: 992px) {
    /* Adjust the logo selecter */
    #logo {
        text-align:right;
    }


    /* Widen the fixed sidebar */
    .sidebar.affix {
        width: 213px;
    }
    .sidebar.affix {
        position: fixed; /* Undo the static from mobile-first approach */
        top: 80px;
    }
    .sidebar.affix .sidenav {
        margin-top: 0;
        margin-bottom: 0;
    }
}